# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history
*.Rproj

# Quarto
/.quarto/
*_cache/
/_site/
/_book/
/_freeze/
tinytable_assets/

# Editor
.vscode/
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.directory

# Logs e temporanei
*.log
*.tmp
*.bak
*.swp

# PDF (es. Rplots.pdf, output rendering)
*.pdf

# all Claude Code files
*.claude
CLAUDE.md
